/* Hamburger menu css rules */
svg#hamburgerIcon {
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 2em;
    cursor: pointer;
}

body.fullSize {
    --left-aside: 5%;
}

.menu-container.fullSize .menu-label {
    color: white;
}
.menu-container.fullSize .menu-list a{
    color: white;
}

.menu-container .menu-label{
    transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #7a7a7a;
}
.menu-container .menu-list a{
    transition: color 600ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #4a4a4a;
}

#NavMenu input {
    display: none;
}

svg rect.hamburger {
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
body:not(.fullSize) svg .hamburger-top {
    transform: rotate(45deg) translate(6px, -1px);
}
body:not(.fullSize) svg .hamburger-bottom {
    transform: rotate(-45deg) translate(-16px, -9px);
}
body:not(.fullSize) svg .hamburger-middle {
    transform: translateX(-100px);
}

body {
    transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
    display: grid;
    grid-template-columns: var(--left-aside, 15%) repeat(4, 22.5%) 5%;
    grid-template-rows: 1fr;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    gap: 0px 0px;
}

.CodeExample {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--tab-size, 0em) 1fr 2em;
    grid-gap: 0px 0px;
    grid-template-areas: "tabs tabs" "codeEditor output" "runFooter runFooter";
    margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
}

@media all and (max-width: 1000px) { 
    .CodeExample {
        --tab-size: 3em;
        transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .CodeExample.codeEditorView {
        grid-template: "tabs tabs" "codeEditor codeEditor" "runFooter runFooter";
    }
    .CodeExample.resultView {
        grid-template: "tabs tabs" "output output" "runFooter runFooter";
    }

    .CodeExample.codeEditorView .codeEditor {
        width: 75vw;
    }
    .fullSize .CodeExample.codeEditorView .codeEditor {
        width: 85vw;
    }
    .CodeExample.codeEditorView .output {
        display: none;
    }

    .CodeExample.resultView .output {
        width: 75vw;
    }
    .fullSize .CodeExample.resultView .output {
        width: 85vw;
    }
    .CodeExample.resultView .codeEditor {
        display: none;
    }
}

.tabHeader.tabs {
    grid-area: tabs;
    margin-bottom: 0;
}

.runFooter {
    grid-area: runFooter;
    background-color: slategrey;
    border: solid black 1px;
    color: black;
}

.codeEditor {
    grid-area: codeEditor;
    border-left: solid black 1px;
}

.output {
    grid-area: output;
    width: 100%;
    height: 100%;
}

code {
    display: block;
    margin: 2em 0 2em 3em;
    border-left: solid black;
}

#Title{
    margin: 3em 0 1em 0;
}

.sectionBlog{
    padding: 2em 0 1em 0;
}

#NavMenu{
    overflow-y: auto;
    width: 100%;
    padding: 2em 2em 0 2em;
    grid-column: 1/1;
}

#BlogContent {
    overflow-y: auto;
    padding: 0 2em 0 2em;
    grid-column: 2/8;
}

#Schematic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2em;
}

#Schematic .offset-pre{
    flex-grow: 1;
    flex-basis: 12%;
}

#Schematic img {
    flex-basis: 65%;
}

#Schematic .offset-post{
    flex-grow: 1;
    flex-basis: 12%
}
#Schematic + .label{
    width: 100%;
    text-align: center;
}