body {
    display: grid;
    grid-template-columns: 1fr 2% 1fr;
    grid-template-rows: 20% 10% 1fr;
    gap: 0px 0px;
    grid-template-areas: "title title title" "run run output" "code . output";
    
    width: 100vw;
    height: 95vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    grid-area: title;
}

.code {
    grid-area: code;
}

.output {
    grid-area: output;
    width: 50vw;
    height: 80vh;
    border-style: solid;
    border-width: 1px;
}

.run {
    grid-area: run;
}

.navbar.is-black > .navbar-item {
    color: white;
}

.navbar.is-black > .navbar-item:hover {
    color: black;
}

.readOnlyLine{
    background-color: #808080
}