h1 {
    margin-top: 0.7em;
    margin-left: 0.7em;
}

ul#treeRoot {
    list-style: none;
}
ul#treeRoot ul{
    list-style: none;
}

#treeRoot a::before {
    content: "";
    background-image: url(./directory.png);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
}
#treeRoot a[href$=".html" i]::before {
    background-image: url(./html.png);
    background-size: contain;
}

/* CSS from Sazzad on https://codepen.io/sazzad/pen/gEEKQb to create the tree visual */
ul#treeRoot li {
    position: relative;
    padding: 2px 0px 2px 15px;
    margin: 0px 0px 0px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &::before {
        position: absolute;
        top: 12px;
        left: 0;
        width: 10px;
        height: 1px;
        margin: auto;
        content: '';
        background-color: #888;
    }
    
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        content: '';
        background-color: #888;
    }

    &:last-child:after {
        height: 12px;
    }
}

footer {
    font-size: 12px;
    padding-left: 1em;

    a {
        color: #444;
    }
}